.Rproj.user
.Rhistory
.RData
.Ruserdata
Faulkner_William_Absalom_Absalom.txt
quick_check.txt
absalom_sentiment_code_for_later.Rmd
trial.csv
Absalom cleaned DO NOT UPLOAD.docx
absalom_cleaned_to_match_4_30.docx
absalom_cleaned_to_match_4_30.txt
absalom_cleaned_to_match_4_30_rev.txt
absalom_cleaned_to_match_4_30_rev4.txt
fix it.csv
fixed checked.csv
fixed.csv
new_sentences.csv
